<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Mini-Message-Board</title>
        <link rel="stylesheet" href="/form.css">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <form method="POST" action="/new">
            <label for="message">Message: </label>
            <textarea placeholder="Enter message" id="message" name="message"></textarea>
            <br>
            <label>Username: </label>
            <input id="username" name="username" placeholder="Enter username" type="text">
            <div class="form-button-holder">
                <button type="submit">Submit</button>
                <button type="reset">Reset</button>
            </div>
        </form>
    </body>
</html>