<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Mini-Message-Board</title>
        <link rel="stylesheet" href="/form.css">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <form class="form" method="POST" action="/new">
            <textarea placeholder="Enter message" id="message" name="message" autofocus required></textarea>
            <br>
            <input id="username" name="username" placeholder="Enter username"  type="text" required>
            <div class="form-button-holder">
                <button class="button-submit" type="submit">Submit</button>
                <button class="button-reset" type="reset">Reset</button>
            </div> 
        </form>
    </body>
</html>