<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Mini-Message-Board</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <% messages.forEach(message => {%>
        <div class="message-box">
            <p class="message-text"><%= message.text%></p>
            <div>
                <p class="message-user">- <%= message.user%>
                </p>
                <p class="message-date">
                    <%= `${message.added.getDay()} / ${message.added.getMonth()} / ${message.added.getFullYear()}`%>
                </p>
            </div>
        </div>
        <%})%>
        <a class="add-message-link" href="/new">Create a message</a>
    </body>
</html>