<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mini-Message-Board</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <a class="add-message-link" href="/new">Create a message</a>
    <% messages.forEach((message,index)=> {%>
        <div class="message-box">
            <p class="message-text">
                <%= message.text%>
            </p>
            <div>
                <div>
                    <a href="/message/<%= index%>">Open this message</a>
                </div>
                <div>

                    <p class="message-user">- <%= message.user%>
                    </p>
                    <p class="message-date">
                        <%= `${message.added.getDate()} / ${message.added.getMonth()} /
                            ${message.added.getFullYear()}`%>
                    </p>
                </div>
            </div>
        </div>
        <%})%>
</body>

</html>