<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mini-Message-Board</title>
    <link rel="stylesheet" href="/message.css">
</head>
<body>
    <div>
        <p>
            <%= message.user%>
        </p>
        <p>
            <%= message.text%>
        </p>
        <p>
            <%= message.added%>
        </p>
        <div>
            <a href="/">Go back to main page</a>
        </div>
    </div>
</body>
</html>