<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mini-Message-Board</title>
    <link rel="stylesheet" href="/message.css">
</head>
<body>
<div class="message-box">
    <p class="message-text">
        <%= message.text%>
    </p>
    <div>
        <p class="message-user">- <%= message.user%>
        </p>
        <p class="message-date">
            <%= `${message.added.getDate()} / ${message.added.getMonth()} / ${message.added.getFullYear()}`%>
        </p>
    </div>
</div>
<div class="link-holder">
    <a href="/">Go back to homepage</a>
    <a href="/new">Add new message</a>
</div>
</body>
</html>